# Zig build output
zig-out/

# Zig cache
zig-cache/
.zig-cache/

#documentation
docs/

#Articles
article*

# Build artifacts (fallbacks)
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a

# Editor/IDE files
*.swp
*.swo
*.tmp
*~
.vscode/
.idea/
.DS_Store

# Optional: logs, coverage, etc.
*.log
coverage/
